<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Welcome Page - X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="../../../static/adminStatic/css/font.css" th:href="@{/adminStatic/css/font.css}">
    <link rel="stylesheet" href="../../../static/adminStatic/css/xadmin.css" th:href="@{/adminStatic/css/xadmin.css}">
    <script th:src="@{/webjars/layui/2.5.6/layui.js}" src="" type="text/javascript"></script>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.js}" src="" type="text/javascript"></script>
    <script type="text/javascript" src="../../../static/adminStatic/js/xadmin.js"
            th:src="@{/adminStatic/js/xadmin.js}"></script>
    <script type="text/javascript" src="../../../static/adminStatic/js/xadmin.js"
            th:src="@{/adminStatic/js/MyLayuiUtils.js}"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .layui-form-item {
            margin-bottom: 0;
        }

        .layui-form-pane .layui-form-label {
            max-width: 100px;
        }

        .layui-form-item .layui-input-inline .layui-form-select {
            width: 180px;
        }

        .layui-form-pane .layui-form-label {
            padding: 9px 15px;
        }
    </style>
</head>

<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body " style="padding-bottom: 0;">
                    <form class="layui-form layui-col-space5 layui-form-pane" id="form">
                        <!-- Search by Username -->
                        <div class="layui-inline layui-show-xs-block layui-form-item">
                            <label class="layui-form-label">Username</label>
                            <div class="layui-input-inline">
                                <input class="layui-input" autocomplete="off" placeholder="Please enter the username" name="userName">
                            </div>
                        </div>
                        <!-- Date Range -->
                        <div class="layui-inline layui-show-xs-block layui-form-item">
                            <label class="layui-form-label">Report Date</label>
                            <div class="layui-input-inline" style="width: 280px">
                                <input id="createDate" class="layui-input" autocomplete="off" placeholder="Please select"
                                       name="createDate">
                            </div>
                        </div>

                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn layui-btn-normal" id="searchBtn" type="button" lay-filter="sreach">
                                <i class="layui-icon">&#xe615;</i>
                            </button>
                            <input class="layui-btn layui-btn-normal layui-icon" type="reset" value="&#xe669;"/>
                        </div>
                    </form>
                </div>
                <div class="layui-card-body ">
                    <table id="listInfo" lay-filter="listInfo"></table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm iconfont layui-btn-danger" lay-event="del">&#xe69d; Delete</button>
    </div>
</script>
<script id="typeTemp" type="text/html">
    {{# if(d.type == 0){}}
    <a class="layui-btn layui-btn-sm">No</a>
    {{# }}}
    {{# if(d.type == 1){}}
    <a class="layui-btn layui-btn-sm layui-btn-warm">Yes</a>
    {{# }}}
</script>
<script id="typeTemp1" type="text/html">
    {{# if(d.type1 == 0){}}
    <a class="layui-btn layui-btn-sm">No</a>
    {{# }}}
    {{# if(d.type1 == 1){}}
    <a class="layui-btn layui-btn-sm layui-btn-warm">Yes</a>
    {{# }}}
</script>
<script id="typeTemp2" type="text/html">
    {{# if(d.type2 == 0){}}
    <a class="layui-btn layui-btn-sm" layui-btn-warm>No</a>
    {{# }}}
    {{# if(d.type2 == 1){}}
    <a class="layui-btn layui-btn-sm">Yes</a>
    {{# }}}
</script>
<script id="image" type="text/html">
    {{# if(d.healthCodePath){}}
    <img class="" onclick="previewImg(this)" src="/housing/{{d.healthCodePath}}" style="width: 100px;height: 100px"/>
    {{# }}}
</script>
<script id="image2" type="text/html">
    {{# if(d.travelCodePath){}}
    <img class="" onclick="previewImg(this)" src="/housing/{{d.travelCodePath}}" style="width: 100px;height: 100px"/>
    {{# }}}
</script>

<script>
    layui.use(['table', 'form', 'upload', 'laydate'],
        function () {
            var table = layui.table,
                layer = layui.layer,
                form = layui.form,
                laydate = layui.laydate;

            // Date and time range selection
            laydate.render({
                elem: '#createDate'
                , type: 'datetime'
                , range: true
            });

            // Initial call to load the table
            loadFunction("getDataByPage");

            /**
             * Bind search button
             */
            $("#searchBtn").click(function () {
                // Get form data
                var sendData = $("#form").serialize();
                // Reload the table with the new data
                loadFunction("getDataByPage?" + sendData)
            })

            // Toolbar events
            table.on('toolbar(listInfo)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                var data = checkStatus.data;
                var selectCount = data.length;      // Get the number of selected rows
                var dataId = getIds(data);          // Get the selected data IDs
                switch (obj.event) {
                    case 'del':
                        // Delete important information
                        deleteInfo(selectCount, dataId, "deleteInfo?ids=" + dataId);
                        break;
                }
            });

            /**
             * Table loading function
             * @param url
             */
            function loadFunction(url) {
                // First instance
                table.render({
                    elem: '#listInfo'
                    , height: 'full-115'
                    , url: url // Data interface
                    , defaultToolbar: ['filter']
                    , loading: true
                    , limit: 20
                    , title: 'Channel Information'
                    , toolbar: '#toolbarDemo'
                    , page: {
                        layout: ['limit', 'count', 'prev', 'page', 'next', 'skip', 'refresh'] // Custom pagination layout
                        , groups: 5 // Display only 5 continuous pages
                        , theme: '#1E9FFF'
                    }
                    , cols:
                        [
                            [ // Table headers
                                {type: 'checkbox'}
                                , {type: 'numbers', title: 'No.', width: 60}
                                , {field: 'id', title: 'Primary Key', width: 120, hide: true}
                                , {field: 'userName', title: 'Name'}
                                , {field: 'phone', title: 'Phone Number'}
                                , {title: 'Health Code', templet: '#image', style: 'height:200px'}
                                , {title: 'Travel Certificate', templet: '#image2'}
                                , {title: 'Resident of this Area', templet: '#typeTemp'}
                                , {title: 'Special Population', templet: '#typeTemp1'}
                                , {field: 'createDate', title: 'Submission Time'}
                                , {field: 'desc', title: 'Remarks'}
                            ]
                        ]
                })
            }

            /**
             * Image preview
             * @param obj
             */
            window.previewImg = (obj) => {
                var img = new Image();
                img.src = obj.src;
                var height = img.height + 50; // Get image height
                var width = img.width; // Get image width
                var imgHtml = "<img src='" + obj.src + "' width='100%' height='100%'/>";
                // Popup layer
                layer.open({
                    type: 1,
                    shade: 0.8,
                    offset: 'auto',
                    area: ['600px', '600px'],
                    shadeClose: true,
                    scrollbar: false,
                    title: "Image Preview",
                    content: imgHtml,
                    cancel: function () {
                    }
                });
            }
        });
</script>
</html>
