<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Welcome Page - X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="../../../css/font.css" th:href="@{/adminStatic/css/font.css}">
    <link rel="stylesheet" href="../../../css/xadmin.css" th:href="@{/adminStatic/css/xadmin.css}">
    <script th:src="@{/webjars/layui/2.5.6/layui.js}" src="" type="text/javascript"></script>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.js}" src="" type="text/javascript"></script>
    <script type="text/javascript" src="../../../js/xadmin.js" th:src="@{/adminStatic/js/xadmin.js}"></script>
    <script type="text/javascript" src="../../../js/xadmin.js" th:src="@{/adminStatic/js/MyLayuiUtils.js}"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .layui-form-item {
            margin-bottom: 0;
        }
        .layui-form-pane .layui-form-label {
            max-width: 100px;
        }
        .layui-form-item .layui-input-inline {
            width: 180px;
        }
        .layui-form-pane .layui-form-label {
            padding: 9px 15px;
        }
    </style>
</head>

<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body " style="padding-bottom: 0;">
                    <form class="layui-form layui-col-space5 layui-form-pane" id="form">
                    </form>
                </div>
                <div class="layui-card-body ">
                    <table id="listInfo" lay-filter="listInfo"></table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm iconfont layui-btn-normal" lay-event="add">&#xe6b9; Add</button>
    </div>
</script>

<script id="operationBar" type="text/html">
    <button class="layui-btn layui-btn-sm iconfont layui-btn-danger" lay-event="del">&#xe69d; Delete</button>
</script>

<script>
    layui.use(['table','form', 'upload', 'laydate'],
        function () {
            var table = layui.table,
                layer = layui.layer,
                form = layui.form,
                upload = layui.upload,
                laydate = layui.laydate;

            var page, limit, totalCount;

            // Start date selection
            laydate.render({
                elem: '#start'
                , type: 'date'
            });

            // End date selection
            laydate.render({
                elem: '#end'
                , type: 'date'
            });

            // Initial call to load the table
            loadFunction("getDataByPage");

            /**
             * Bind search button
             */
            $("#searchBtn").click(function() {
                // Get form data
                var sendData = $("#form").serialize();
                // Reload the table with the new data
                loadFunction("getDataByPage?" + sendData)
            })

            /**
             * Table loading function
             * @param url
             */
            function loadFunction(url) {
                // First instance
                table.render({
                    elem: '#listInfo'
                    , height: 'full-115'
                    , url: url // Data interface
                    , defaultToolbar: ['filter']
                    , loading: true
                    , limit: 20
                    , toolbar: '#toolbarDemo'
                    , cellMinWidth: 270
                    , page: {
                        layout: ['limit', 'count', 'prev', 'page', 'next', 'skip', 'refresh'] // Custom pagination layout
                        ,groups: 5 // Display only 5 continuous pages
                        ,theme: '#1E9FFF'
                    }
                    , cols:
                        [
                            [ // Table headers
                                { type: 'numbers', title: 'No.', width: 60  }
                                , {field: 'id', title: 'Primary Key', width: 120, hide: true}
                                , {field: 'userName', title: 'Username'}
                                , {field: 'loginName', title: 'Login Name'}
                                , {field: 'caozuo', title: 'Actions', toolbar:'#operationBar'}
                            ]
                        ]
                })
            }

            // Toolbar events
            table.on('toolbar(listInfo)', function (obj) {
                switch (obj.event) {
                    case 'add':
                        toWindow("toAddWindow", "Add Administrator", "400px", "330px");
                        break;
                }
            });

            // Inline toolbar
            table.on('tool(listInfo)', function(obj){
                switch(obj.event){
                    case 'del':
                        // Delete important information
                        deleteInfo(1, obj.data.id, "deleteInfo?id=" + obj.data.id);
                        break;
                }
            });
        });
</script>
</html>
