<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New</title>
    <link rel="stylesheet" th:href="@{/adminStatic/layui/css/layui.css}">
    <script th:src="@{/webjars/layui/2.5.6/layui.js}" src="" type="text/javascript"></script>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.js}" src="" type="text/javascript"></script>
    <script th:src="@{/adminStatic/js/MyLayuiUtils.js}"></script>
    <style>
        html {
            height: 100%;
        }

        .layui-form-pane .layui-form-text .layui-textarea {
            min-height: 80px;
            max-height: 80px;
        }

        .div_show {
            transform: translate(-2000px);
            transition: all 0.8s;
        }

        .div_hide {
            transform: translate(2000px);
            transition: all 1.5s;
        }

        .photo-viewer {
            margin: 50px 0;
            text-align: center;
        }

        .img-reveal {
            display: inline-block;
            margin: 0px 8px;
        }

        .layui-btn {
            height: 34px;
            line-height: 34px;
        }
        .layui-form-select dl {
            max-height: 155px;
        }
    </style>
</head>
<body style="height: 100%;padding: 15px;box-sizing: border-box">

<!--Form-->
<form class="layui-form layui-form-pane form-info addForm" action="" th:add-url="${addUrl}">
    <div id="product_info" style="width:100%">

        <div class="layui-form-item">
            <label class="layui-form-label">Username</label>
            <div class="layui-input-inline">
                <input type="text" name="userName" lay-verify="required" placeholder="Please enter username (required)" autocomplete="off"
                       class="layui-input" th:value="${obj.userName}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">Full Name</label>
            <div class="layui-input-inline">
                <input type="text" name="loginName" lay-verify="required" placeholder="Please enter full name (required)" autocomplete="off"
                       class="layui-input" th:value="${obj.loginName}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">New Password</label>
            <div class="layui-input-inline">
                <input type="password" name="password" lay-verify="required" placeholder="Please enter password (required)" autocomplete="off"
                       class="layui-input" readonly>
            </div>
        </div>
        <input type="hidden" name="id" th:value="${obj.id}">
    </div>

    <div class="content-input" style="position: absolute; left: 15px; bottom: 15px;">
        <input type="button" value="Submit" name="submit" class="layui-btn addBtn layui-btn-normal">
        <input type="reset" class="layui-btn layui-btn-normal" value="Clear">
    </div>
</form>


<script>
    layui.use(['form', 'upload', 'laydate'], function () {
        var layer = layui.layer,
            form = layui.form;

        var lock = true;

        /**
         * Bind enter key event
         */
        $(document).keypress(function (e) {
            // If there is a layer.alert window, click the confirm button and blur all focus
            if ($('.layui-layer-btn0').length > 0) {
                $('.layui-layer-btn0').eq($('.layui-layer-btn0').length - 1)[0].click();
                $("*").blur();
            }
        });

        $("input[name='password']").click(function() {
            $(this).removeAttr("readonly")
            $(this).focus();
        })

        /**
         * Click submit event
         */
        $(".addBtn").click(function () {
            if (lock) {      // Check for repeated submissions
                lock = true;
                // Validate data
                var flag = isVerifyDate();
                // If flag is not empty, validation failed
                if(flag) {
                    layer.confirm(flag, {
                        btn: ['OK']  // Button
                        , icon: 5
                        , anim: 6
                    });
                    return;
                }
                // Get form data
                var addData = $(".addForm").serializeArray();
                // Get submission URL
                var url = $(".addForm").attr("add-url");
                // Convert data to object, remember to send the data as a JSON string
                var jsonObj={};
                $(addData).each(function(){
                    jsonObj[this.name]=this.value;
                });
                $.ajax({
                    url: url,
                    type: 'PUT',
                    async: false,
                    contentType : 'application/json;charset=utf-8', // Set request header
                    data: JSON.stringify(jsonObj),
                    success: function(rollData) {
                        if (rollData.code == "0") {
                            layer.confirm(rollData.msg, {
                                btn: ['OK']  // Button
                                , icon: 6
                            }, function () {
                                window.parent.location.reload();    // Refresh parent page
                            });
                        } else {
                            layer.confirm(rollData.msg, {
                                btn: ['OK']  // Button
                                , icon: 5
                                , anim: 6
                            }, function (index) {
                                lock = true;
                                layer.close(index);
                            });
                        }
                    },
                    error: function(res) {
                        layer.confirm('Oops! Something went wrong! Please contact the developer!', {
                            btn: ['OK']  // Button
                            , icon: 5
                            , anim: 6
                        }, function (index) {
                            lock = true;
                            layer.close(index);
                        });
                    }
                })
            }
        });

        /**
         * Data validation method
         */
        function isVerifyDate() {
            // Get all data
            var userName = $("input[name='userName']").val();
            var loginName = $("input[name='loginName']").val();
            var password = $("input[name='password']").val();
            // Positive integer regex
            var reNumber = /^[0-9]+$/;
            var reFloat = /^[+]{0,1}(\d+)$|^[+]{0,1}(\d+\.\d+)$/;
            // Non-empty validation
            if(!userName || !loginName || !password) {
                return "Please ensure all required fields are filled out!";
            }
        }
    });
</script>
</body>
</html>
