<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="../../../static/adminStatic/css/font.css" th:href="@{/adminStatic/css/font.css}">
    <link rel="stylesheet" href="../../../static/adminStatic/css/xadmin.css" th:href="@{/adminStatic/css/xadmin.css}">
    <script th:src="@{/webjars/layui/2.5.6/layui.js}" src="" type="text/javascript"></script>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.js}" src="" type="text/javascript"></script>
    <script type="text/javascript" src="../../../static/adminStatic/js/xadmin.js"
            th:src="@{/adminStatic/js/xadmin.js}"></script>
    <script type="text/javascript" src="../../../static/adminStatic/js/xadmin.js"
            th:src="@{/adminStatic/js/MyLayuiUtils.js}"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .layui-form-item {
            margin-bottom: 0;
        }

        .layui-form-pane .layui-form-label {
            max-width: 100px;
        }

        .layui-form-item .layui-input-inline .layui-form-select {
            width: 180px;
        }

        .layui-form-pane .layui-form-label {
            padding: 9px 15px;
        }
    </style>
</head>

<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <fieldset class="layui-elem-field layui-field-title site-title">
            <legend><a name="use">车位收费记录表</a></legend>
        </fieldset>
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body " style="padding-bottom: 0;">
                    <form class="layui-form layui-col-space5 layui-form-pane" id="form2">
                        <input type="hidden" name="userId" th:value="${userId}">
                        <!--                        &lt;!&ndash; 根据业主名查询 &ndash;&gt;-->
                        <!--                        <div class="layui-inline layui-show-xs-block layui-form-item">-->
                        <!--                            <label class="layui-form-label">业主名</label>-->
                        <!--                            <div class="layui-input-inline">-->
                        <!--                                <input class="layui-input" autocomplete="off" placeholder="请输入要查询的业主名" name="ownerName">-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <!--                        &lt;!&ndash; 根据商品名查询 &ndash;&gt;-->
                        <!--                        <div class="layui-inline layui-show-xs-block layui-form-item">-->
                        <!--                            <label class="layui-form-label">业主电话</label>-->
                        <!--                            <div class="layui-input-inline">-->
                        <!--                                <input class="layui-input" autocomplete="off" placeholder="请输入要查询的业主电话" name="phone">-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <!--                        &lt;!&ndash; 根据商家名查询 &ndash;&gt;-->
                        <!--                        <div class="layui-inline layui-show-xs-block layui-form-item">-->
                        <!--                            <label class="layui-form-label">车位状态</label>-->
                        <!--                            <div class="layui-input-inline">-->
                        <!--                                <select name="parkState" lay-search id="parkState" lay-filter="brandName">-->
                        <!--                                    <option value="">请选择要查询的车位状态</option>-->
                        <!--                                    <option value="0">未售出</option>-->
                        <!--                                    <option value="1">已售出</option>-->
                        <!--                                </select>-->
                        <!--                            </div>-->
                        <!--                        </div>-->

                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn layui-btn-normal" id="searchBtn2" type="button"
                                    lay-filter="search">
                                <i class="layui-icon">&#xe615;</i>
                            </button>
                            <input class="layui-btn layui-btn-normal layui-icon" type="reset" value="&#xe669;"/>
                        </div>
                    </form>
                </div>
                <div class="layui-card-body ">
                    <table id="listInfo2" lay-filter="listInfo2"></table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    layui.use(['table', 'form', 'upload', 'laydate'],
        function () {
            var table = layui.table,
                layer = layui.layer,
                form = layui.form,
                upload = layui.upload,
                laydate = layui.laydate;

            // 初始调用表格加载方法
            loadFunction2("charge/getDataByPage?" + $("#form2").serialize());

            /**
             * 绑定查询按钮
             */
            $("#searchBtn2").click(function () {
                // 获取表单数据
                var sendData = $("#form2").serialize();
                // 重新调用表格加载方法
                loadFunction2("charge/getDataByPage?" + sendData)
            })

            /**
             * 加载表格方法
             * @param url
             */
            function loadFunction2(url) {
                //第一个实例
                table.render({
                    elem: '#listInfo2'
                    , height: 'full-115'
                    , url: url //数据接口
                    , loading: true
                    , limit: 20
                    , title: '渠道信息'
                    , page: {
                        layout: ['limit', 'count', 'prev', 'page', 'next', 'skip', 'refresh'] //自定义分页布局
                        , groups: 5 //只显示 5 个连续页码
                        , theme: '#1E9FFF'
                    }
                    , cols:
                        [
                            [ //表头
                                {type: 'checkbox'}
                                , {type: 'numbers', title: '序号', width: 60}
                                , {field: 'id', title: '主键标识', width: 120, hide: true}
                                , {
                                title: '车位类型', templet: function (row) {
                                    return `<span>${row.carParkInfo.carParkType}</span>`
                                }
                            }, {
                                title: '车位信息', templet: function (row) {
                                    return `<span>${row.carParkInfo.carParkInfo}</span>`
                                }
                            }
                                , {field: 'ownerName', title: '住户姓名'}
                                , {field: 'phone', title: '住户手机号'}
                                , {field: 'chargeDate', title: '收费时间', width: '17%'}
                                , {
                                field: 'fee', title: '费用', templet: function (row) {
                                    return `<b>￥&nbsp;${row.fee}</b>`
                                }
                            }
                                , {field: 'readName', title: '收费人'}
                            ]
                        ]
                })
            }
        });
</script>
</html>